.common-button {
  display: inline-flex;
  align-items: center;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  line-height: 42px;
  padding: 0 30px;
  font-weight: 700;
  background: white;
  border-radius: 2px;
  border: 1px solid #bdbdbd;
  transition: all 0.15s ease-in-out 0s;

  svg {
    height: 22px;
    transform: translateY(-1px);
    &:first-child {
      margin-left: 6px;
    }
    &:last-child {
      margin-right: 5px;
    }
  }

  & + & {
    margin-left: 20px;
  }

  &.xs {
    line-height: 30px;
    font-size: 12px;
  }

  &.lg {
    height: 50px;
    line-height: 23px;
    font-size: 18px;
    padding: 0 40px;
  }

  &:not(:disabled) {
    cursor: pointer;
    color: #4f4f4f;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 1px 6px #47b9e8;
    border: 1px solid #47b9e8;
  }

  &:hover:not(:disabled) {
    transform: translateY(-1px);
  }

  &:active {
    background: #f2f2f2;
    border: 1px solid #bdbdbd;
    box-shadow: none;
    transform: translateY(0px);
  }

  @mixin buttonStyle( $btnColor) {
    color: white;
    background: $btnColor;
    border-color: $btnColor;

    &:hover {
      border: 1px solid lighten($btnColor, 5%);
      background: lighten($btnColor, 5%);
    }

    &:active {
      border: 1px solid darken($btnColor, 7%);
      background: darken($btnColor, 5%);
    }
  }
  $cgreen: #27ae60;
  $cred: #cf5757;
  $cblue: #1063b0;
  $cgrey: #e1e7ed;
  $corange: #f0ae2e;
  $cblack: #353535;

  $list: "success" "error" "primary" "warning" "default" "bl";
  @each $state in $list {
    &.#{$state} {
      @if $state == success {
        $btnColor: #16bf2a;
        @include buttonStyle($cgreen);
      } @else if $state == primary {
        @include buttonStyle($cblue);
      } @else if $state == error {
        @include buttonStyle($cred);
      } @else if $state == warning {
        @include buttonStyle($corange);
      } @else if $state == bl {
        @include buttonStyle($cblack);
      } @else {
        @include buttonStyle($cgrey);
      }
    }
  }

  &:disabled {
    color: #bdbdbd;
    box-shadow: none;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    cursor: not-allowed;
  }
}
