.common-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: 10px 20px;
  font-weight: 700;
  background: white;
  border-radius: 4px;
  border: 1px solid #bdbdbd;
  font-size: 14px;
  transition: all 0.15s ease-in-out 0s;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 1px 6px #47b9e8;
    border: 1px solid #47b9e8;
  }

  &:hover:not(:disabled) {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12);
    transform: translateY(-1px);
  }


  &:active {
    background: #f2f2f2;
    border: 1px solid #bdbdbd;
    box-shadow: none;
    transform: translateY(0px);
  }

  &.primary {
    color: white;
    background: #0088bb;
    border-color: #0088bb;

    &:hover {
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    }

    &:active {
      border: 1px solid #0088bb;
      background: #0079a7;
    }

    &:disabled {
      border: 1px solid #e6f3f8;
      background: #96cfe4;
    }
  }

  

  $cgreen: #16bf2a;
  &.success {
    color: white;
    background: $cgreen;
    border-color: $cgreen;

    &:hover {
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    }

    &:active {
      border: 1px solid #0088bb;
      background: #0079a7;
    }
  }
  
  &:disabled {
    box-shadow: none;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    cursor: not-allowed;
  }
}
