@import "./colors.scss";

@mixin text-body {
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: $color-text-2;
}

body,
html {
  color: $color-text-2;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  @include text-body;
}

html {
  height: 100%;
  background-color: $color-concrete;
}

body {
  height: 95%;
  margin: 10px 20px;
  background-color: $color-white;
  box-shadow: 3px 3px 3px $color-shadow;
}

.storybook {
  .storybook-body {
    background-color: $color-white;
    padding: 20px;
  }

  .storybook-header {
    background: $color-ematix-blue;
    color: $color-white;
    padding: 30px;

    .storybook-header-info {
      margin-left: 50px;

      .storybook-header-info-logo {
        width: 30px;
        padding-right: 20px;
      }

      .storybook-header-info-title {
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .storybook-header-info-name {
        font-size: 5rem;
      }

      .storybook-header-info-section {
        font-size: 2rem;
      }
    }
  }
  // Story Template
  .storybook-template {
    margin: 0 50px;

    .title {
      color: $color-emperor;
      font-size: 2.42rem;
      margin: 20px 0;
    }

    .sub-title {
      color: $color-emperor;
      font-size: 1.57rem;
      margin: 40px 0 20px;
    }

    .small-subheader {
      color: $color-gray;
      font-size: 1.3rem;
      margin: 40px 0 20px;
    }

    .description {
      font-size: 1.28rem;
      color: $color-gray;
    }

    .dark-background {
      background: #17354a;
      color: $color-gray;
    }

    .component-properties {
      display: flex;
      flex-direction: row;
      align-content: flex-start;

      &-row {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        div {
          padding: 20px;
        }

        .name {
          color: $color-ematix-blue;
        }

        .type {
          color: $color-valencia;
        }

        .default {
          color: $color-gray;
        }

        .description {
          color: $color-emperor;
        }

        .header {
          color: $color-gray;
          font-size: 1.3rem;
        }
      }
    }
  }
}
