.ecl {
  &--table {
    & + * {
      margin-top: 20px;
    }
  }
  &--table-row,
  &--table-header {
    display: flex;
    .ecl--table-cell {
      border-top: 1px solid #aaa;
      flex-grow: 1;
      flex-basis: 100px;
      min-height: 50px;
      display: flex;
      align-items: center;
      padding: 0 20px;
    }
  }

  &--table-header {
    font-weight: 700;
    .ecl--table-cell {
      border-top: none;
    }
  }
}
