// primary
$color-lochmara-blue: #0288d1;
$color-mantis: #5bc759;
$color-supernova: #ffce0c;
$color-blaze-orange: #ff6900;
$color-valencia: #d5322f;
$color-black: #000000;
$color-white: #ffffff;
$color-concrete: #f2f2f2;
$color-gallery: #ececec;
$color-gray: #828282;
$color-disco: #871550;
$color-buttered-rum: #a7880c;
