@import "/node_modules/codemirror/lib/codemirror.css";
@import "./colors.scss";

.react-codemirror2.cm-s-ematix .CodeMirror {
  background: $color-concrete;
  height: inherit;
  border: 1px solid $color-gallery;
  border-radius: 4px;
}

// ematix Syntax Highlighting
.common-codeblock {
  .cm-s-ematix {
    span.cm-def,
    span.cm-string,
    span.cm-string-2 {
      color: $color-blaze-orange;
    }

    span.cm-variable {
      color: $color-black;
    }

    span.cm-meta,
    span.cm-string.cm-error,
    span.cm-variable-2,
    span.cm-variable-3 {
      color: $color-valencia;
    }

    span.cm-comment {
      color: $color-gray;
      font-style: italic;
    }

    span.cm-tag,
    span.cm-tag.cm-bracket {
      color: $color-lochmara-blue;
    }

    span.cm-keyword,
    span.cm-property {
      color: $color-lochmara-blue;
    }

    span.cm-number,
    span.cm-unit {
      color: $color-mantis;
    }

    span.cm-atom {
      color: $color-buttered-rum;
    }
  }

  // Javascript Specific highlighting
  .cm-s-ematix-javascript {
    span.cm-operator {
      color: $color-disco;
    }
  }
  // htmlmixed specific highlighting
  .cm-s-ematix-htmlmixed {
    span.cm-tag {
      color: $color-valencia;
    }
    span.cm-attribute {
      color: $color-blaze-orange;
    }
    span.cm-string {
      color: $color-lochmara-blue;
    }
    span.cm-tag.cm-bracket {
      color: $color-lochmara-blue;
    }
  }
}
